<!DOCTYPE html>
<html>
<head>
  <title>MaplePay</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:coral;">
                <a class="navbar-brand" href="#">Cashout // Maker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav navbar-right">
                    <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
                    
                    <a class="nav-item nav-link " href="/makerinbox1">Inbox</a>
                    <a class="nav-item nav-link" href="/">Logout</a>
                    <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
                  </div>
                </div>
              </nav>

            <div class="container">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action disabled">Payment Request #8474945</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Payment Request #783472</a>
                </div>
            </div>
</body>
</html>