<div class="container">
	<form action="/paymentrequest" method="POST">
		<input type="text" name="form[paymentmethod]" placeholder="payment method" value="SWIFT">
		<input type="text" name="form[debitacc]" placeholder="debit account" value="006-091-993">
		<input type="text" name="form[currency]" placeholder="currency" value="USD">
		<input type="text" name="form[amount]" placeholder="amount" value="10,000">
		<input type="date" name="form[valuedate]" placeholder="value date of debt" value="16/05/2019">
		<input type="text" name="form[benaccno]" placeholder="beneficiary bank account" value="1-6082-018.F">
		<input type="text" name="form[benname]" placeholder="beneficiary name" value="Phalange Family Trust">
		<input type="text" name="form[benbankadd]" placeholder="beneficiary bank address" value="Singapore">
		<input type="text" name="form[benbankname]" placeholder="beneficiary bank name" value="Geller Bank">
		<input type="text" name="form[paymentpurpose]" placeholder="Payment purpose" value="Personal expenses">
		<input type="text" name="form[benbankacc]" placeholder="beneficiary bank account" value="1-6082-018.F">
		<button>Submit</button>
	</form>
</div>